.signup {
    border: 3px solid #2f7385;
    width: 30%;
    margin: 5% auto 0;
    padding: 3%;
}
.card{
    height: 10%;
    width: 100%;
}
form {
    border: 1px solid blue;
    background-color: aliceblue;
}

