{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
<link
    href="https://fonts.googleapis.com/css2?family=Lora&family=Nunito:wght@200&family=Quicksand&family=Roboto&family=Roboto+Slab:wght@300;400&family=Zen+Antique&display=swap"
    rel="stylesheet">
{% endblock %}


{% block content %}

<div class="container" style="margin-top: 40px;">
<a href="{{url_for('main.profile')}}"><button class="btn btn-primary home mt-5">Profile</button></a>
<div class="container signup text-center">
<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6">
    <form class="form-signin" method="POST" action="/expense">
      <h4 class="form-signin-heading">Add Your expenses Here</h4>
      {{ form.hidden_tag() }}
      {{ wtf.form_field(form.name) }}
      {{ wtf.form_field(form.merchant) }}
      {{ wtf.form_field(form.amount) }}
      {{ wtf.form_field(form.description) }}
  
      <button class="btn btn-lg btn-primary btn-block" type="submit">Submit Expense</button>
    </form>
  </div>

  <div class="col-lg-6 col-md-6 col-sm-6">
    <img src="{{ url_for('static', filename='/images/funding.jpg')}}" 
    alt="" style="height:600px; width: 800px;">
  </div>

  </div>
</div>

  <div>
    <footer class="page-footer">
        <div>
            <div class="footer-copyright text-center py-3">
                <h3>Contact Us</h3>
                <a href="#"><img src="{{ url_for('static', filename='images/facebook.png') }}" alt=""></a>
                <a href="#"><img src="{{ url_for('static', filename='images/twitter.png') }}" alt=""></a>
                <a href="#"><img src="{{ url_for('static', filename='images/skype.png') }}" alt=""></a>
                <a href="#"><img src="{{ url_for('static', filename='images/you_tube.png') }}" alt=""></a>
                <a href="#"><img src="{{ url_for('static', filename='images/pinterest.png') }}" alt=""></a>
                <br>
                &#169;Copyright 2022
            </div>
        </div>
    </footer>
</div>
{% endblock %}