{% extends "bootstrap/base.html" %}
{% block styles %}
{{super()}}

{% endblock %}
{% block content%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
<link
    href="https://fonts.googleapis.com/css2?family=Lora&family=Nunito:wght@200&family=Quicksand&family=Roboto&family=Roboto+Slab:wght@300;400&family=Zen+Antique&display=swap"
    rel="stylesheet">

<div class="container-fluid intro mt-3">
    <div class="jumbotron text-center mt-3">
        <p class='wrd'>Welcome to</p>
        <h1 class="display-4 intro">EXPENSE TRACKER 💰 </h1>
        <p class='wrd'>Make your money count</p>

        <a href="{{ url_for('main.signup') }}"><button class="btn btn-light">Sign-up</button></a>
        <a href="{{ url_for('main.login') }}"><button type="button" class="btn btn-dark">Login</button></a>

    </div>
</div>



<div>
    <footer class="page-footer">
        <div>
            <div class="footer-copyright text-center py-3">
                <h3>Contact Us</h3>
                <a href="#"><img src="{{ url_for('static', filename='images/facebook.png') }}" alt=""></a>
                <a href="#"><img src="{{ url_for('static', filename='images/twitter.png') }}" alt=""></a>
                <a href="#"><img src="{{ url_for('static', filename='images/skype.png') }}" alt=""></a>
                <a href="#"><img src="{{ url_for('static', filename='images/you_tube.png') }}" alt=""></a>
                <a href="#"><img src="{{ url_for('static', filename='images/pinterest.png') }}" alt=""></a>
                <br>
                &#169;Copyright 2022
            </div>
        </div>
    </footer>
</div>
{% endblock %}

