<div class="navbar navbar-inverse " role="navigation" style="background-color:#6c584c; color: white;">

    <div class="navbar-collapse " style="background-color:#1A4182; color: white;" id=" navbar ">
        <ul class="nav navbar-nav navbar-right" style="background-color:#1A4182; color: white;">
            <li>
                <a style=" color:white; " class="nav-link " href="#"> About us</a>
            </li>
            
            <li class="nav-item ">
                <a style=" color:white; " class="nav-link " href="#">Contact Us</a>
            </li>
            
            
            <li><a style=" color:white; " href="#">Login</a></li>
        </ul> 
    </div>



</div>