
{% extends "bootstrap/base.html" %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
<link
    href="https://fonts.googleapis.com/css2?family=Lora&family=Nunito:wght@200&family=Quicksand&family=Roboto&family=Roboto+Slab:wght@300;400&family=Zen+Antique&display=swap"
    rel="stylesheet">
{% endblock %}


{% block content %}
<div class="container-fluid nav text-center">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
            <a class="nav-link" href="{{url_for('main.dashboard')}}">
                <h3>DASHBOARD</h3>
            </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <a class="nav-link" href="{{ url_for('main.profile')}}">
                <h3>PROFILE</h3>
            </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <a class="nav-link" href="{{url_for('main.logout')}}">
                <h3>LOGOUT</h3>
            </a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6">
            <h3>USER INFORMATION</h3>
            <p>USERNAME: {{ name }}</p>
            <p>USER EMAIL ADDRESS: {{ email }}</p>
        </div>

        <div class="col-lg-8 col-md-8 col-sm-6">
            <h3>EXPENSES SUBMITTED</h3>
            <div>
                {% for p in expense %}
                <!-- <p>Name: {{p.name}} </p> -->
                <p>Merchant: {{p.merchant}}</p>
                <p>Amount: {{p.amount}}</p>
                <p>Description: {{p.description}}</p>
                <em>
                <p>Submitted by: {{p.owner.username}}</p>
            </em>
                <hr>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}


<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">


</head>
<body>
    <div class="navbar navbar-inverse " role="navigation" style="background-color:#6c584c; color: white;">

    <div class="navbar-collapse " style="background-color:#1A4182; color: white;" id=" navbar ">
        <ul class="nav navbar-nav navbar-right" style="background-color:#1A4182; color: white;">
            <li>
                <a style=" color:white; " class="nav-link " href="#"> menu</a>
            </li>
            
            <li class="nav-item ">
                <a style=" color:white; " class="nav-link " href="#">Home</a>
            </li>
            
            
        
        </ul> 
    </div>

    
</body>
<div>
    <style>
        .real{
            background-image: url('../static/images/money.jpg');
            height: 500px;
            align-items: center;
        }
    </style>
    <div class="jumbotron jumbotron-fluid text-center">
        <div class="container">
          <h2 class="display-4"> Good Day! here are your expenses for the month of may</h2> 
          <a href="#"><button class="btn btn-primary">back</button></a>
          <a href="#"><button class="btn btn-primary">Add new expense</button></a>

        </div>
      </div>


</html> -->